__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

migrations/
!migrations/__init__.py

.conda
.env
.cache/
.idea/
.vscode/
flagged/
logs/
project/settings.py

data/
konwledge-base/
*.chunks.jsonl
*.sections.jsonl
user_data/
config/config-local.yaml
project_structure.txt
